*{
    margin: 0;
    padding:0;
}

a{
    color: black;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    color: black;
}
h1{
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
}
.ul1{
    display: flex;
}
.ul2{
    display: flex;
}
ul li{
    margin-right: 20px;
}
li{
    list-style-type: none;
}

h1{
   font-family: Arial, sans-serif;
}



.friend{
    font-family: Snell Roundhand, cursive;
}

.cadre{
    display: flex;
}


.souscadre1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: beige;
    width: 50%;
}
.souscadre2{
    width: 50%;
}

footer,.div2{
    text-align: center;
    background-color: blue;
}

img{
    width: 100%;
    height: 100%;
}