body{
    margin: 0;
}

a{
    color: black;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    color: black;
}

h1{
    display:flex;
    justify-content: center;
}


ul{
    display: flex;
    justify-content: space-around;
    
}

li{
    list-style-type: none;
   
}

.cadre{
    display: flex;
}


.souscadre1{
    justify-content: center;
    align-content:center;
    /*background-color: blue;*/
    width: 50%;
}


footer,.div2{
    text-align: center;
}

.souscadre2{
    width: 50%;
  /*background-color: blue;*/
}